@import 'flowbite';
@import 'simple-datatables/dist/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scrollbar-width: none;
  transition: background-color 0.3s, color 0.3s;
}

html, body, #root {
  height: 100%;
}

.dark {
  background-color: #1a202c; /* Dark background */
  color: #cbd5e0; /* Light text color */
}

/* Override Tailwind dark mode styles */
.dark .bg-gray-900 {
  background-color: #1a202c;
}

.dark .text-gray-200 {
  color: #edf2f7;
}
.fc-toolbar-title {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF8503;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}